<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289418142808-7uir9a9hnkahrb8f4tvqlnvosmqqhrfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289418142808-7uir9a9hnkahrb8f4tvqlnvosmqqhrfe</string>
	<key>API_KEY</key>
	<string>AIzaSyCNkpWsyBpfNy81Wd4w_f_CYSNYhxeQpJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>289418142808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.server</string>
	<key>PROJECT_ID</key>
	<string>authflutterapp-cbd4b</string>
	<key>STORAGE_BUCKET</key>
	<string>authflutterapp-cbd4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289418142808:ios:94f9e4a493bd406f31562d</string>
</dict>
</plist>